<td align="center" style="width:106px;height:38px;">
    <table style="width:106px; height:38px; background:#fff;" cellspacing="0" cellpadding="0" align="left">
        <tbody>
            <tr style="height:28px;">
                <td align="center" style="width:106px; height:26px; vertical-align:middle;">
                    {% if barcode_img %}
                    <img src="{{ barcode_img }}" style="max-width:98px; max-height:26px;">
                    {% endif %}
                </td>
            </tr>
            <tr style="height:10px;">
                <td align="center"
                    style="width:100%; height:10px; line-height:10px; font-size:8px; font-weight:800; vertical-align:middle;">
                    {{ barcode_title }}
                </td>
            </tr>
        </tbody>
    </table>
</td>