<td style="width:189px;height:94px;">
    <table style="width:189px;height:94px;">
        <tr>
            <td style="font-size:16px;font-weight:bold;">
                {{ sub_item_1 }}
            </td>
        </tr>
        <tr>
            <td style="font-size:16px;font-weight:bold;">
                {{ sub_item_2 }}
            </td>
        </tr>
        <tr>
            <td style="font-size:16px;font-weight:bold;">
                {{ sub_item_3 }}
            </td>
        </tr>
    </table>
</td>