<td style="width:106px;height:38px;">
    <table style="width:106px;height:38px;">
        <tr>
            <td style="font-size:12px;font-weight:bold;">
                {{ sub_item_1 }}
            </td>
        </tr>
        <tr>
            <td style="font-size:12px;font-weight:bold;">
                {{ sub_item_2 }}
            </td>
        </tr>
        <tr>
            <td style="font-size:12px;font-weight:bold;">
                {{ sub_item_3 }}
            </td>
        </tr>
    </table>
</td>